

<body>
<nav>
  {% if user.is_authenticated %}
    Xin chào, {{ user.username }} |
       <form action="{% url 'logout' %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-link p-0 m-0 align-baseline">Đăng xuất</button>
    </form>
    <a href="{% url 'profile' user.username %}">Hồ sơ</a>
  {% else %}
    <a href="{% url 'login' %}">Đăng nhập</a>
    <a href="{% url 'register' %}">Đăng ký</a>
  {% endif %}
</nav>
  <div class="container mt-4">
    {% block content %}

    {% endblock %}
  </div>

  <!-- Footer -->
</body>